/* body {
  padding-top: 5rem;
} */

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
} 

.danger { color: #FF6969; }

.container main {
  padding-top: 70px;
}

td.completed{
  text-decoration-line: line-through;
}
